<% content_for :head do %>
  <%= javascript_include_tag "init" %>
<% end %>

<% content_for :heading do %>
  <%= heading(t('.heading')) %>
<% end %>

<% content_for :content do %>
  <section class="container cf" id="init-container">
    <%= form_tag do %>
    <h2><%= t '.central_server_identification' %></h2>
    <table class="details">
      <tr>
        <td style="width: 15em;">
          <i class="fa fa-info-circle" title="<%= t '.instance_identifier_help'%>"></i>
          <%= t '.instance_identifier' %>
        </td>
        <td><%= text_field_tag "instance_identifier",
                @instance_identifier, :disabled => @instance_identifier %></td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-info-circle" title="<%= t '.central_server_address_help'%>"></i>
          <%= t '.central_server_address' %>
        </td>
        <td><%= text_field_tag "central_server_address",
                @central_server_address, :disabled => @central_server_address %></td>
      </tr>
    </table>

    <h2><%= t '.software_token' %></h2>
    <table class="details">
      <tr>
        <td style="width: 15em;">
          <i class="fa fa-info-circle" title="<%= t '.pin_help'%>"></i>
          <%= t '.pin' %>
        </td>
        <td><%= password_field_tag "pin", nil, :disabled => !@init_software_token %></td>
      </tr>
      <tr>
        <td>
          <i class="fa fa-info-circle" style="visibility: hidden;"></i>
          <%= t '.repeat_pin' %>
        </td>
        <td><%= password_field_tag "pin_repeat", nil, :disabled => !@init_software_token %></td>
      </tr>
    </table>
    <p class="button-container">
      <button id="submit" class="right"><%= t 'common.submit' %></button>
    </p>
    <% end %>
  </section>
<% end %>
