<%= dialog "add_pki_step2_view_top_ca_cert_dialog", t("pkis.add.step2.title") do %>
  <p><a class="open_details" id="pki_add_open_top_ca_cert_details" href="#">
    <%= t 'common.cert_view'%>
  </a></p>
  <br/>

  <p id="pki_add_cert_details_subject_dn" class="cert_details_title">
    <%= t 'common.subject_dn' %>:
  </p>
  <br/>

  <p id="pki_add_cert_details_issuer_dn" class="cert_details_title">
    <%= t 'common.issuer_dn' %>:
  </p>
  <br/>

  <p class="cert_details_title"><%= t 'pkis.valid_from' %>:</p>
  <p id="pki_add_cert_details_valid_from"></p>
  <br/>

  <p class="cert_details_title"><%= t 'pkis.valid_to' %>:</p>
  <p id="pki_add_cert_details_valid_to"></p>
  <br/>

  <div class="dialog_dynamic">
    <%= render :partial => "shared/cert_details_dialog" %>
  </div>
<% end %>
