<%= dialog "add_pki_step5_add_intermediate_cas", t("pkis.add.step5.title") do %>
  <section class="container">
    <div class="intermediate_cas_actions">
      <% if can?(get_pki_edit_privilege) %>
        <button id="intermediate_ca_edit" class="intermediate_ca-action">
          <%= t 'common.edit' %>
        </button>
      <% end %>
      <% if can?(get_pki_edit_privilege) %>
        <button id="intermediate_ca_add">
          <%= t 'common.add' %>
        </button>
      <% end %>
      <% if can?(get_pki_edit_privilege) %>
        <button id="intermediate_ca_delete" class="intermediate_ca-action">
          <%= t 'common.delete' %>
        </button>
      <% end %>
    </div>
    </section>

    <section class="container">
    <table id="intermediate_cas">
      <thead>
        <tr>
          <th><%= t 'pkis.intermediate_ca' %></th>
          <th><%= t 'pkis.valid_from' %></th>
          <th><%= t 'pkis.valid_to' %></th>
        </tr>
      </thead>
    </table>
  </section>

<% end %>
