<%= dialog "add_pki_step2_view_top_ca_cert_dialog", t("pkis.add.step2.title") do %>
    <section class="container" style="text-align: center;">
      <button class="open_details" id="pki_add_open_top_ca_cert_details" href="#">
        <%= t 'common.cert_view'%>
      </button>
    </section>

    <section class="container">
      <legend><%= t 'common.subject_dn' %></legend>
      <div class="cert_details_title" id="pki_add_cert_details_subject_dn"></div>
    </section>
    
    <section class="container">
      <legend><%= t 'common.issuer_dn' %></legend>
      <div class="cert_details_title" id="pki_add_cert_details_issuer_dn"></div>
    </section>

    <section class="container">
      <legend><%= t 'pkis.valid_from' %></legend>
      <div id="pki_add_cert_details_valid_from"></div>
    </section>

    <section class="container">
      <legend><%= t 'pkis.valid_to' %></legend>
      <div id="pki_add_cert_details_valid_to"></div>
    </section>
    <div class="dialog_dynamic">
      <%= render :partial => "shared/cert_details_dialog" %>
    </div>
<% end %>
