<% content_for :head do %>
  <%= javascript_include_tag "pkis" %>
  <%= javascript_include_tag "pki_cache" %>
  <%= javascript_include_tag "pki_common" %>
  <%= javascript_include_tag "pki_new" %>
  <%= javascript_include_tag "pki_edit" %>
  <%= javascript_include_tag "certs_uploader" %>
  <%= javascript_include_tag "centerui_common" %>
<% end %>

<% content_for :content do %>
  <div class="fill">
    <div class="pkis_actions">
      <% if can?(:view_approved_ca_details) %>
        <button id="pki_details" class="pki-action"><%= t 'common.edit' %></button>
      <% end %>
      <% if can?(:add_approved_ca) %>
        <button id="pki_add"><%= t 'common.add' %></button>
      <% end %>
      <% if can?(:delete_approved_ca) %>
        <button id="pki_delete" class="pki-action"><%= t 'common.delete' %></button>
      <% end %>
    </div>

    <table id="pkis" class="display">
      <thead>
        <tr>
          <th id="pki_trusted_cert_service"><%= t 'pkis.trusted_certification_service' %></th>
          <th id="pki_valid_from"><%= t 'common.valid_from' %></th>
          <th id="pki_valid_to"><%= t 'common.valid_to' %></th>
        </tr>
      </thead>
    </table>
  </div>

  <div class="dialog_dynamic">
    <%= render :partial => "add_pki_step1_upload_top_ca_cert_dialog" %>
    <%= render :partial => "add_pki_step2_view_top_ca_cert_dialog" %>
    <%= render :partial => "add_pki_step3_add_name_extractor_dialog" %>
    <%= render :partial => "add_pki_step4_add_top_ca_ocsp_responders" %>
    <%= render :partial => "add_pki_step5_add_intermediate_cas" %>
    <%= render :partial => "intermediate_ca_edit_dialog" %>
  </div>
<% end %>
