<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag (skin_installed? ? "/application/skin" : "style.css") %>
    <title><%= t 'layouts.application.title' %></title>
  </head>
  <body id="login">
    <div class="container" id="login-form">
      <div class="container" id="login-form-titles">
        <h1 class="section-title up center"><%= t 'layouts.application.title' %></h1>
      </div>

      <h2 class="section-title center"><%= @server_id.toShortString if @server_id %></h2>

      <form method="POST" action="j_security_check">
        <p>
          <label class="section-title up">
            <span class="text">Username</span>
            <span><%= text_field_tag :j_username %></span>
          </label>
        </p>
        <p>
          <label class="section-title up">
            <span class="text">Password</span>
            <span><%= password_field_tag :j_password %></span>
          </label>
        </p>
        <% if flash[:error] %>
          <p class="error message">
            <%= raw(flash_message(:error)) %>
          </p>
        <% end %>
        <p class="button-container">
          <button type="submit" class="btn">Login</button>
        </p>
      </form>
    </div>
  </body>
</html>
