<% content_for :head do %>
  <%= javascript_include_tag "requests" %>
  <%= javascript_include_tag "request_edit" %>
  <%= javascript_include_tag "centerui_common" %>
<% end %>

<% content_for :content do %>
  <div class="requests_actions">
    <% if can?(:view_management_request_details) %>
      <button id="request_details" class="request-action"><%= t 'common.details' %></button>
    <% end %>
  </div>

  <table id="management_requests_all" class="display">
    <thead>
      <tr>
        <th>
          <%= t 'management_requests.request_id' %>
        </th>
        <th>
          <%= t 'management_requests.created' %>
        </th>
        <th>
          <%= t 'management_requests.request_type' %>
        </th>
        <th>
          <%= t 'management_requests.source' %>
        </th>
        <th>
          <%= t 'management_requests.server_owner_name' %>
        </th>
        <th>
          <%= t 'management_requests.server_owner_class' %>
        </th>
        <th>
          <%= t 'management_requests.server_owner_code' %>
        </th>
        <th>
          <%= t 'management_requests.server_code' %>
        </th>
        <th>
          <%= t 'management_requests.status' %>
        </th>
      </tr>
    </thead>
  </table>

  <%= render :partial => "shared/auth_cert_reg_request_edit_dialog" %>
  <%= render :partial => "shared/client_reg_request_edit_dialog" %>
  <%= render :partial => "shared/auth_cert_deletion_request_edit_dialog" %>
  <%= render :partial => "shared/client_deletion_request_edit_dialog" %>
<% end %>
