<%= dialog "tsp_edit_dialog" do %>
  <table class="details">
    <tr>
      <td><%= t 'common.url' %></td>
      <td colspan="2"><%= text_field_tag "tsp_url" %></td>
    </tr>
    <tr>
      <td><%= t 'common.cert' %></td>
      <td id="tsp_cert_file"></td>
      <td style="min-width: 18em;">
        <%= form_tag "tsps/upload_tsp_cert", :multipart => true,
              :target => "tsp_cert_upload_target",
              :style => "float: right" do %>
          <%= upload_button "upload_tsp_cert_file" %>
          <button id="tsp_cert_view"><%= t 'common.cert_view' %></button>
        <% end %>
      </td>
    </tr>
  </table>

  <%= hidden_field_tag "tsp_temp_cert_id" %>
  <iframe id="tsp_cert_upload_target" name="tsp_cert_upload_target"></iframe>

  <%= render :partial => "shared/cert_details_dialog" %>
<% end %>
