<% content_for :head do %>
  <%= javascript_include_tag "centerui_common" %>
  <%= javascript_include_tag "securityservers" %>
  <%= javascript_include_tag "securityserver_edit" %>
  <%= javascript_include_tag "member_edit" %>
  <%= javascript_include_tag "member_edit_dialog" %>
  <%= javascript_include_tag "request_edit" %>
  <%= javascript_include_tag "request_client_deletion" %>
<% end %>

<% content_for :content do %>
  <div class="securityservers_actions">
    <% if can?(:view_security_server_details) %>
      <button id="securityserver_edit" class="securityserver-action">
        <%= t 'common.details' %>
      </button>
    <% end %>
  </div>

  <table id="securityservers" class="display">
    <thead>
      <tr>
        <th id="securityserver_server_code">
          <%= t 'securityservers.server_code' %>
        </th>
        <th id="securityserver_owner_name">
          <%= t 'securityservers.owner_name' %>
        </th>
        <th id="securityserver_owner_class">
          <%= t 'securityservers.owner_class' %>
        </th>
        <th id="securityserver_owner_code">
          <%= t 'securityservers.owner_code' %>
        </th>
      </tr>
    </thead>
  </table>

  <%= render :partial => "shared/securityserver_edit_dialog",
    locals: {from_main_menu: true} %>
<% end %>
