<% content_for :head do %>
  <%= javascript_include_tag "asynclog" %>
<% end %>

<% content_for :content do %>
  <table id="records">
    <thead>
      <tr>
        <th><%= t '.no' %></th>
        <th><%= t '.logged' %></th>
        <th><%= t '.state' %></th>
        <th><%= t '.received' %></th>
        <th><%= t '.removed' %></th>
        <th><%= t '.send_attempts' %></th>
        <th><%= t '.producer' %></th>
        <th><%= t '.sender' %></th>
        <th><%= t '.request_id' %></th>
      </tr>
    </thead>
  </table>

  <div class="dataTables_actions">
    <button id="refresh"><%= t 'common.refresh' %></button>
  </div>

  <div class="clearer"></div>
<% end %>
