<%= dialog "auth_cert_add_dialog", t("securityservers.auth_cert.add.title") do %>
  <section class="container">
    <legend><%= t 'securityservers.auth_cert.owner.legend' %></legend>
    <table class="details">
      <tr>
        <td class="description"><%= t 'securityservers.owner_name' %></td>
        <td><p id="add_auth_cert_owner_name" class="input ui-state-disabled"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.owner_class' %></td>
        <td><p id="add_auth_cert_owner_class" class="input ui-state-disabled"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.owner_code' %></td>
        <td><p id="add_auth_cert_owner_code" class="input ui-state-disabled"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.server_code' %></td>
        <td><p id="add_auth_cert_servercode" class="input ui-state-disabled"></p></td>
      </tr>
    </table>
  </section>

  <section class="container">
    <legend><%= t 'securityservers.auth_cert.cert.legend' %></legend>
    <p>
      <% if can?(:add_security_server_auth_cert_reg_request) %>
        <%= form_tag "securityservers/import_auth_cert",
            :id => "server_auth_cert_upload", :multipart => true,
            :target => "upload_target" do %>
          <%= upload_button("securityserver_auth_cert_upload") %>
        <% end %>
      <% end %>
    </p>
    <table class="details">
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.ca' %></td>
        <td><p id="add_auth_cert_ca" class="input ui-state-disabled"></p></td>
      </tr>
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.serial_number' %></td>
        <td><p id="add_auth_cert_serial_number" class="input ui-state-disabled"></p></td>
      </tr>
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.subject' %></td>
        <td><p id="add_auth_cert_subject" class="input ui-state-disabled"></p></td>
      </tr>
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.expires' %></td>
        <td><p id="add_auth_cert_expires" class="input ui-state-disabled"></p></td>
      </tr>
    </table>
    <p id="add_auth_cert_temp_id" class="ui-helper-hidden"></p>
  </section>
<% end %>
