<div id="management_request_edit_common">
  <section class="container">
    <legend><%= t 'management_requests.request.legend' %></legend>
    <table class="details">
      <tr>
        <td><%= t 'management_requests.request_id' %></td>
        <td><input class="management_request_id" id="management_request_id" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'management_requests.received' %></td>
        <td><input class="management_request_received" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'management_requests.source' %></td>
        <td><input class="management_request_source" type="text" readonly/></td>
      </tr>
      <tr class="request_status">
        <td><%= t 'management_requests.status' %></td>
        <td><input class="management_request_status" type="text" readonly/></td>
      </tr>
      <tr class="complementary_id">
        <td><%= t 'management_requests.complementary_id' %></td>
        <td><input class="management_request_complementary_id" type="text" readonly/></td>
      </tr>
      <tr class="revoking_id">
        <td><%= t 'management_requests.revoking_id' %></td>
        <td><input class="management_request_revoking_id" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'management_requests.comments' %></td>
        <td><input class="management_request_comments" type="text" readonly/></td>
      </tr>
    </table>
  </section>

  <section class="container">
    <legend><%= t 'management_requests.securityserver.legend' %></legend>
    <table class="details">
      <tr>
        <td><%= t 'securityservers.owner_name' %></td>
        <td><input class="management_request_server_owner_name" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_class' %></td>
        <td><input class="management_request_server_owner_class" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_code' %></td>
        <td><input class="management_request_server_owner_code" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.server_code' %></td>
        <td><input class="management_request_server_code" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.address' %></td>
        <td><input class="management_request_server_address" type="text" readonly/></td>
      </tr>
    </table>
  </section>
</div>
