<%= dialog "group_details_dialog" do %>
  <section class="container">
    <h2><span><%= t 'common.description' %></span></h2>

    <table class="details">
      <tr>
        <td style="width: 100%">
          <p id="group_details_description" class="input" ></p>
        </td>
        <td>
          <% if can?(:edit_group_description) %>
          <button id="group_details_edit_description">
            <%= t 'common.edit' %>
          </button>
          <% end %>
        </td>
      </tr>
    </table>
  </section>

  <section class="container">
    <h2>
      <span><%= t 'groups.details.members' %></span>
      <span id="group_details_member_count"></span>
    </h2>

    <%= render_advanced_search "shared/group_members_search", "group_members" %>

    <table id="group_members">
      <thead>
        <tr>
          <th><%= t 'groups.details.name' %></th>
          <th><%= t 'groups.details.code' %></th>
          <th><%= t 'groups.details.class' %></th>
          <th><%= t 'groups.details.subsystem' %></th>
          <th><%= t 'groups.details.xroad' %></th>
          <th><%= t 'groups.details.type' %></th>
          <th><%= t 'groups.details.added' %></th>
        </tr>
      </thead>
    </table>
  </section>

  <p class="dialog-buttons-container">
    <% if can?(:delete_group) %>
      <button id="group_details_delete_group">
        <%= t 'groups.details.delete_group' %>
      </button>
    <% end %>

    <% if can?(:add_and_remove_group_members) %>
      <button id="group_details_add_members" class="right">
        <%= t 'groups.details.add_members' %>
      </button>
      <button id="group_details_remove_selected_members" class="right">
        <%= t 'groups.details.remove_selected_members' %>
      </button>
    <% end %>
  </p>

  <%= render :partial => "shared/group_description_edit_dialog" %>
  <%= render :partial => "shared/group_members_add_dialog" %>
<% end %>
