<%= dialog "group_members_add_dialog" do %>
  <%= render_advanced_search "shared/group_members_search", "group_addable_members" %>

  <div id="group_addable_members_actions">
    <input id="show_members_in_search_results" type="checkbox"/>
    <span><%= t 'groups.details.members_add_search_show_members' %></span>
  </div>

  <table id="group_addable_members">
    <thead>
      <tr>
        <th><%= t 'groups.details.name' %></th>
        <th><%= t 'groups.details.code' %></th>
        <th><%= t 'groups.details.class' %></th>
        <th><%= t 'groups.details.subsystem' %></th>
        <th><%= t 'groups.details.xroad' %></th>
        <th><%= t 'groups.details.type' %></th>
      </tr>
    </thead>
  </table>
<% end %>
