<%= dialog "member_edit_dialog", t("members.edit.title") do %>
  <div class="member_edit_tabs">
    <ul>
      <li><a href="#member_details_tab"><%= t 'members.edit.details.legend' %></a></li>
      <% if can?(:view_member_details) %>
      <li><a href="#member_owned_servers_tab"><%= t 'members.edit.owned_servers.legend' %></a></li>
      <li><a href="#member_group_membership_tab"><%= t 'members.edit.global_group_membership.legend' %></a></li>
      <li><a href="#member_subsystems_tab"><%= t 'members.edit.subsystems.legend' %></a></li>
      <li><a href="#member_used_servers_tab"><%= t 'members.edit.used_servers.legend' %></a></li>
      <li><a href="#member_management_requests_tab"><%= t 'management_requests.legend' %></a></li>
      <% end %>
    </ul>

    <div id="member_details_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:delete_member) %>
        <button id="member_edit_delete" class="btn warning"><%= t 'common.delete' %></button>
        <% end %>
      </div>

      <%= form_tag do %>
      <table class="details">
        <tr>
          <td class="label">
            <%= t 'members.name' %>
          </td>
          <td style="width: 100%;"><p id="member_edit_name" class="input"/></td>
          <td>
            <% if can?(:edit_member_name_and_admin_contact) %>
            <button id="member_edit_change_name"><%= t 'common.edit' %></button>
            <% end %>
          </td>
        <tr>
          <td class="label"><%= t 'members.class' %></td>
          <td><p id="member_edit_class" class="input"></p></td>
        </tr>
        <tr>
          <td class="label"><%= t 'members.code' %></td>
          <td><p id="member_edit_code" class="input"/></td>
        </tr>
      </table>
      <% end %>
    </div>

    <% if can?(:view_member_details) %>
    <div id="member_owned_servers_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:add_security_server_reg_request) %>
        <button id="add_owned_server" class="btn"><%= t 'common.add' %></button>
        <% end %>
      </div>

      <table class="member_owned_servers">
        <thead>
          <tr>
            <th><%= t 'members.edit.server' %></th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="member_group_membership_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:add_and_remove_group_members) %>
        <button id="delete_global_group_membership" class="btn warning"><%= t 'common.delete' %></button>
        <button id="add_global_group_membership" class="btn"><%= t 'common.add' %></button>
        <% end %>
      </div>

      <table class="member_global_group_membership">
        <thead>
          <tr>
            <th><%= t 'members.edit.global_group_membership.group' %></th>
            <th><%= t 'members.edit.global_group_membership.subsystem.table' %></th>
            <th><%= t 'members.edit.global_group_membership.added_to_group' %></th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="member_subsystems_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:remove_member_subsystem) %>
        <button id="delete_subsystem" class="btn warning"><%= t 'members.edit.subsystems.delete' %></button>
        <% end %>
      </div>

      <table class="member_subsystems">
        <thead>
          <tr>
            <th><%= t 'members.edit.subsystems.subsystem_code' %></th>
            <th><%= t 'members.edit.subsystems.used_servers' %></th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="member_used_servers_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:remove_member_from_security_server_clients) %>
        <button id="remove_securityserver_client" class="btn warning">
          <%= t 'common.delete' %>
        </button>
        <% end %>
        <% if can?(:add_security_server_client_reg_request) %>
        <button id="register_securityserver_client" class="btn">
          <%= t 'common.add' %>
        </button>
        <% end %>
      </div>

      <table class="member_used_servers">
        <thead>
          <tr>
            <th><%= t 'members.edit.used_servers.server_code' %></th>
            <th><%= t 'members.edit.used_servers.client_subsystem_code' %></th>
            <th><%= t 'members.edit.used_servers.server_owner' %></th>
          </tr>
        </thead>
      </table>
    </div>

    <div id="member_management_requests_tab">
      <table class="member_management_requests">
        <thead>
          <tr>
            <th><%= t 'management_requests.process_id' %></th>
            <th><%= t 'management_requests.process_type' %></th>
            <th><%= t 'management_requests.created' %></th>
            <th><%= t 'management_requests.status' %></th>
          </tr>
        </thead>
      </table>
    </div>
    <% end %>
  </div>
<% end %>

<%= render :partial => "shared/member_name_edit_dialog" %>
<%= render :partial => "shared/owned_server_add_dialog" %>
<%= render :partial => "shared/member_to_group_add_dialog" %>
<%= render :partial => "shared/member_used_server_register_dialog" %>

<!-- XXX Prevents infinite rendering loop -->
<% if from_main_menu %>
  <%= render :partial => "shared/securityserver_edit_dialog",
      locals: {from_main_menu: false} %>
<% end %>

<!-- Partials related to requests -->
<%= render :partial => "shared/auth_cert_reg_request_edit_dialog" %>
<%= render :partial => "shared/auth_cert_deletion_request_edit_dialog" %>
<%= render :partial => "shared/client_reg_request_edit_dialog" %>
<%= render :partial => "shared/client_deletion_request_edit_dialog" %>
<%= render :partial => "shared/securityserver_client_remove_dialog" %>
