<!-- Title will be filled in dynamically with JavaScript -->
<%= dialog "member_to_group_add_dialog", "" do %>
  <%= form_tag do %>
    <section class="container">
    <table id="member_to_group_add_subsystem" class="details">
      <tr>
        <td><legend><%= t 'members.edit.global_group_membership.subsystem.add' %></legend></td>
      </tr>
      <tr>
        <td><%= select_tag(
            "member_to_group_add_select_subsystem",
            options_for_select([""]),
                :class => "detail_input") %>
        </td>
      </tr>
    </table>
    <table id="member_to_group_add_group" class="details">
      <tbody>
        <tr>
          <td><legend><%= t 'members.edit.global_group_membership.group' %></legend></td>
        </tr>
        <tr>
          <td><%= select_tag(
              "member_to_group_add_select_group",
              options_for_select([""]),
                  :class => "detail_input") %>
          </td>
        </tr>
        <tr>
          <td><legend><%= t 'members.edit.global_group_membership.description' %></legend></td>
        </tr>
        <tr>
          <td>
            <textarea id="member_to_group_add_description" readonly="true" class="ui-state-disabled" ></textarea>
          </td>
        </tr>
      </tbody>
    </table>
    </section>
  <% end %>
<% end %>
