<%= dialog "member_add_dialog", t("members.add.title") do %>
  <section class="container">
    <%= form_tag do %>
      <table id="member_add_table" class="details">
        <tr>
          <td class="label"><%= t 'members.name' %></td>
          <td><input id="member_add_name" type="text" class="detail_input"/></td>
        </tr>
        <tr>
          <td class="label"><%= t 'members.class' %></td>
          <td><%= select_tag(
              "member_add_class",
              options_for_select(create_member_class_select(get_all_member_classes)),
                  :class => "detail_input") %>
          </td>
        </tr>
        <tr>
          <td class="label"><%= t 'members.code' %></td>
          <td><input id="member_add_code" type="text" class="detail_input"/></td>
        </tr>
      </table>
    <% end %>
  </section>
<% end %>
