<%= dialog "member_used_server_register_dialog", t("members.edit.used_servers.add.title") do %>
  <section class="container">
    <legend><%= t 'members.edit.used_servers.add.client.legend' %></legend>
    <table class="details">
      <tr>
        <td><%= t 'securityservers.clients.name' %></td>
        <td><p id="used_server_name" class="input" ></p></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.clients.class' %></td>
        <td><p id="used_server_class" class="input" ></p></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.clients.code' %></td>
        <td><p id="used_server_code" class="input" ></p></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.clients.subsystem_code' %></td>
        <td><input id="used_server_subsystem_code" type="text"/></td>
      </tr>
    </table>
  </section>
  <section class="container">
    <legend><%= t 'securityservers.info.legend' %></legend>
    <table class="details">
      <tr>
        <td></td>
        <td>
          <% if can?(:view_security_server_details) %>
            <button id="used_server_server_search" >
              <%= t 'common.search' %>
            </button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_name' %></td>
        <td><input id="used_server_owner_name" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_class' %></td>
        <td><%= select_tag(
            "used_server_owner_class",
            options_for_select(create_member_class_select(get_all_member_classes))) %>
        </td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_code' %></td>
        <td><input id="used_server_owner_code" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.server_code' %></td>
        <td><input id="used_server_server_code" type="text"/></td>
      </tr>
    </table>
  </section>
<% end %>
