<%= dialog "securityserver_client_remove_dialog", t("members.edit.used_servers.remove.title") do %>
  <fieldset>
    <legend><%= t 'members.edit.used_servers.remove.client.legend' %></legend>
    <table>
      <tr>
        <td><%= t 'securityservers.clients.name' %></td>
        <td><input id="used_server_remove_name" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.clients.class' %></td>
        <td><input id="used_server_remove_class" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.clients.code' %></td>
        <td><input id="used_server_remove_code" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.clients.subsystem' %></td>
        <td><input id="used_server_remove_subsystem_code" type="text" readonly/></td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <legend><%= t 'securityservers.info.legend' %></legend>
    <table>
      <tr>
        <td><%= t 'securityservers.owner_name' %></td>
        <td><input id="used_server_remove_owner_name" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_class' %></td>
        <td><input id="used_server_remove_owner_class" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.owner_code' %></td>
        <td><input id="used_server_remove_owner_code" type="text" readonly/></td>
      </tr>
      <tr>
        <td><%= t 'securityservers.server_code' %></td>
        <td><input id="used_server_remove_server_code" type="text" readonly/></td>
      </tr>
    </table>
  </fieldset>

<% end %>