<%= dialog "securityserver_edit_dialog", t("securityservers.details.title") do %>
  <div id="securityserver_edit_tabs">
    <ul>
      <li><a href="#server_details_tab"><%= t 'securityservers.details.legend' %></a></li>
      <li><a href="#server_clients_tab"><%= t 'securityservers.clients.legend' %></a></li>
      <li><a href="#server_auth_certs_tab"><%= t 'securityservers.auth_cert.legend' %></a></li>
      <li><a href="#server_management_requests_tab"><%= t 'management_requests.legend' %></a></li>
    </ul>

    <div id="server_details_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:delete_security_server) %>
        <button id="securityserver_delete">
          <%= t 'common.delete' %>
        </button>
        <% end %>
      </div>

      <section class="container">
        <%= form_tag do %>
        <table id="securityserver_edit_table" class="details">
          <tr>
            <td class="label"><%= t 'securityservers.owner_name' %></td>
            <td><p id="securityserver_edit_owner_name" class="input"></p></td>
          </tr>
          <tr>
            <td class="label"><%= t 'securityservers.owner_class' %></td>
            <td><p id="securityserver_edit_owner_class" class="input"></p></td>
          </tr>
          <tr>
            <td class="label"><%= t 'securityservers.owner_code' %></td>
            <td><p id="securityserver_edit_owner_code" class="input"></p></td>
          </tr>
          <tr>
            <td class="label"><%= t 'securityservers.server_code' %></td>
            <td><p id="securityserver_edit_server_code" class="input"></p></td>
          </tr>
          <tr>
            <td class="label"><%= t 'securityservers.registered' %></td>
            <td><p id="securityserver_edit_registered" class="input"></p></td>
          </tr>
          <tr>
            <td class="label"><%= t 'securityservers.address' %></td>
            <td><p id="securityserver_edit_address" class="input"></p></td>
            <td>
              <% if can?(:edit_security_server_address) %>
              <button id="securityserver_edit_change_address">
                <%= t 'common.edit' %>
              </button>
              <% end %>
            </td>
          </tr>
        </table>
        <% end %>
        <p id="securityserver_edit_identifier" class="ui-helper-hidden"></p>
      </section>
    </div>

    <div id="server_clients_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:add_security_server_client_reg_request) %>
        <button id="securityserver_client_add"><%= t 'common.add' %></button>
        <% end %>
        <% if can?(:remove_member_from_security_server_clients) %>
        <button id="securityserver_client_delete"><%= t 'common.delete' %></button>
        <% end %>
      </div>

      <section class="container">
        <table id="securityserver_clients" class="display">
          <thead>
            <tr>
              <th><%= t 'securityservers.clients.name' %></th>
              <th><%= t 'securityservers.clients.class' %></th>
              <th><%= t 'securityservers.clients.code' %></th>
              <th><%= t 'securityservers.clients.subsystem_code' %></th>
            </tr>
          </thead>
        </table>
      </section>
    </div>

    <div id="server_auth_certs_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:add_security_server_auth_cert_reg_request) %>
        <button id="securityserver_authcert_add"><%= t 'common.add' %></button>
        <% end %>
        <% if can?(:delete_security_server_auth_cert) %>
        <button id="securityserver_authcert_delete"><%= t 'common.delete' %></button>
        <% end %>
      </div>

      <section class="container">
        <table id="securityserver_auth_certs" class="display">
          <thead>
            <tr>
              <th><%= t 'securityservers.auth_cert.ca' %></th>
              <th><%= t 'securityservers.auth_cert.serial_number' %></th>
              <th><%= t 'securityservers.auth_cert.subject' %></th>
              <th><%= t 'securityservers.auth_cert.expires' %></th>
            </tr>
          </thead>
        </table>
      </section>
    </div>

    <div id="server_management_requests_tab">
      <section class="container">
        <table id="securityserver_management_requests" class="display">
          <thead>
            <tr>
              <th><%= t 'management_requests.process_id' %></th>
              <th><%= t 'management_requests.process_type' %></th>
              <th><%= t 'management_requests.created' %></th>
              <th><%= t 'management_requests.status' %></th>
            </tr>
          </thead>
        </table>
      </section>
    </div>
  </div>

  <%= render :partial => "shared/securityserver_address_edit_dialog" %>
  <%= render :partial => "shared/securityserver_client_register_dialog" %>
  <%= render :partial => "shared/auth_cert_add_dialog" %>
  <%= render :partial => "shared/auth_cert_delete_dialog" %>

  <%= render :partial => "shared/cert_details_dialog" %>

  <!-- XXX Prevents infinite rendering loop -->
  <% if from_main_menu %>
    <%= render :partial => "shared/member_edit_dialog", locals: {from_main_menu: false} %>
  <% end %>
<% end %>
