<%= dialog "securityserver_search_dialog", t("members.edit.all_servers.search.title") do %>
  <section class="container">
    <table id="used_server_search_all" class="display">
      <thead>
        <tr>
          <th>
            <%= t 'securityservers.owner_name' %>
          </th>
          <th>
            <%= t 'securityservers.owner_class' %>
          </th>
          <th>
            <%= t 'securityservers.owner_code' %>
          </th>
          <th>
            <%= t 'securityservers.server_code' %>
          </th>
        </tr>
      </thead>
    </table>
  </section>
<% end %>