<!-- Title will be added dynamically witn JavaScript -->
<%= dialog "securityserver_client_search_dialog", "" do %>
  <section class="container">
    <table id="securityserver_addable_client_search" class="display">
      <thead>
        <tr>
          <!-- TODO: Translations of client identifiers should be unified. -->
          <th><%= t 'groups.details.name' %></th>
          <th><%= t 'groups.details.code' %></th>
          <th><%= t 'groups.details.class' %></th>
          <th><%= t 'groups.details.subsystem' %></th>
          <th><%= t 'groups.details.sdsb' %></th>
          <th><%= t 'groups.details.type' %></th>
        </tr>
      </thead>
    </table>
  </section>
<% end %>
