<%= dialog "#{prefix}_url_and_cert_dialog" do %>
  <table class="details">
    <tr>
      <td><%= t 'common.url' %></td>
      <td colspan="2"><%= text_field_tag "#{prefix}_url" %></td>
    </tr>
    <tr>
      <td class="label"><%= t 'common.cert' %></td>
      <td id="<%= prefix %>_cert_file"></td>
      <td style="min-width: 18em;">
        <%= form_tag "#{controller_name}/upload_#{prefix}_cert", :multipart => true,
              :target => "upload_target", :class => "right" do %>
          <%= upload_button "#{prefix}_cert" %>
          <button id="<%= prefix %>_cert_view"><%= t 'common.cert_view' %></button>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
