<% content_for :head do %>
  <%= javascript_include_tag "centerui_common" %>
  <%= javascript_include_tag "distributed_files" %>
<% end %>

<% content_for :content do %>
  <div class="fill">
    <div class="section_heading"><%= t 'identifier_mapping.upload_file' %></div>
    <table class="display">
      <% if can?(:edit_distributed_files) %>
        <tr>
          <td>
            <%= form_tag "#{controller.controller_name}/add_identifier_mapping",
                :id => "identifier_mapping_file_upload", :multipart => true,
                :target => "upload_target" do %>
              <%= file_field_tag "identifier_mapping_file" %>
            <% end %>
          </td>
          <iframe id="upload_target" name="upload_target"></iframe>
          <td>
            <button id="identifier_mapping_upload">
              <%= t 'common.upload' %>
            </button>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
