<% content_for :head do %>
  <%= javascript_include_tag "init" %>
<% end %>

<% content_for :heading do %>
  <%= heading(t('.heading')) %>
<% end %>

<% content_for :content do %>
  <section class="container" id="init-container">
    <iframe id="upload_target" name="upload_target"></iframe>

    <% if @init_globalconf %>
      <%= form_tag "#{controller.controller_name}/init_globalconf",
            :id => "globalconf_form", :multipart => true,
            :target => "upload_target" do %>
          <legend><%= t '.global_configuration' %></legend>
          <table class="details">
            <tr>
              <td style="width: 15em;"><%= t '.distributor_url' %></td>
              <td><%= text_field_tag "globalconf_url", nil, :style => "width: 100%;" %></td>
            </tr>
            <tr>
              <td><%= t '.verification_certificate' %></td>
              <td><%= file_field_tag "globalconf_cert" %></td>
            </tr>
          </table>

        <br/>
        <button id="submit_globalconf"><%= t 'common.submit' %></button>
      <% end %>
    <% end %>

    <% if @init_serverconf || @init_software_token %>
      <%= form_tag nil, :id => "serverconf_form" do %>
        <legend><%= t '.security_server_id' %></legend>
        <table class="details">
          <tr>
            <td><%= t '.member_class' %></td>
            <td><%= select_tag "owner_class", options_for_select([@owner_class], @owner_class),
                      :disabled => @owner_class %></td>
          </tr>
          <tr>
            <td><%= t '.member_code' %></td>
            <td><%= text_field_tag "owner_code", @owner_code, :disabled => @owner_code %></td>
          </tr>
          <tr>
            <td style="width: 15em;"><%= t '.member_name' %></td>
            <td id="owner_name"><%= @owner_name %></td>
          </tr>
          <tr>
            <td><%= t '.security_server_code' %></td>
            <td><%= text_field_tag "server_code", @server_code, :disabled => @server_code %></td>
          </tr>
        </table>

        <br/>
        <legend><%= t '.software_token' %></legend>
        <table class="details">
          <tr>
            <td style="width: 15em;"><%= t '.pin' %></td>
            <td><%= password_field_tag "pin", nil, :disabled => !@init_software_token %></td>
          </tr>
          <tr>
            <td><%= t '.repeat_pin' %></td>
            <td><%= password_field_tag "pin_repeat", nil, :disabled => !@init_software_token %></td>
          </tr>
        </table>

        <br/>
        <button id="submit_serverconf" class="right"><%= t 'common.submit' %></button>
      <% end %>
    <% end %>
  </section>
<% end %>
