<% content_for :head do %>
  <%= javascript_include_tag "init" %>
<% end %>

<% content_for :heading do %>
  <%= heading(t('.heading')) %>
<% end %>

<% content_for :content do %>
  <section class="container" id="init-container">
    <% if @init_anchor %>
      <%= form_tag "init/anchor_upload", :id => "anchor_upload_form",
        :multipart => true, :target => "upload_target", :class => "cf" do %>
        <legend><%= t 'anchor.import_title' %></legend>
        <br/>
        <%= file_field_tag "anchor_upload_file" %>
        <br/>
        <button id="anchor_upload_submit" class="right"><%= t 'common.import' %></button>
      <% end %>

      <iframe id="upload_target" name="upload_target"></iframe>
    <% end %>

    <% if @init_serverconf || @init_software_token %>
      <%= form_tag nil, :id => "serverconf_form" do %>
        <legend><%= t '.security_server_owner' %></legend>
        <table class="details">
          <tr>
            <td><%= t '.member_class' %></td>
            <td><%= select_tag "owner_class", options_for_select([@owner_class], @owner_class),
                      :disabled => @owner_class %></td>
          </tr>
          <tr>
            <td><%= t '.member_code' %></td>
            <td><%= text_field_tag "owner_code", @owner_code, :disabled => @owner_code %></td>
          </tr>
          <tr>
            <td style="width: 15em;"><%= t '.member_name' %></td>
            <td id="owner_name"><%= @owner_name %></td>
          </tr>
        </table>

        <br/>
        <legend><%= t '.security_server' %></legend>
        <table class="details">
          <tr>
            <td style="width: 15em;"><%= t '.security_server_code' %></td>
            <td><%= text_field_tag "server_code", @server_code, :disabled => @server_code %></td>
          </tr>
        </table>

        <br/>
        <legend><%= t '.software_token' %></legend>
        <table class="details">
          <tr>
            <td style="width: 15em;"><%= t '.pin' %></td>
            <td><%= password_field_tag "pin", nil, :disabled => !@init_software_token %></td>
          </tr>
          <tr>
            <td><%= t '.repeat_pin' %></td>
            <td><%= password_field_tag "pin_repeat", nil, :disabled => !@init_software_token %></td>
          </tr>
        </table>

        <br/>
        <button id="submit_serverconf" class="right"><%= t 'common.submit' %></button>
      <% end %>
    <% end %>
  </section>
<% end %>
