<% content_for :head do %>
    <%= javascript_include_tag "diagnostics" %>
<% end %>

<% content_for :content do %>
    <section class="container" id="diagnostics-container">

      <div class="box">
        <div class="box-heading">
          <span class="box-title"><%= t 'diagnostics.index.global_configuration' %></span>
        </div>

        <table id="global_configuration" class="bordered">
          <thead>
          <th class="diagnostics_col_status"><%= t 'diagnostics.index.status' %></th>
          <th class="diagnostics_col_message"><%= t 'diagnostics.index.message' %></th>
          <th class="diagnostics_col_prev_update"><%= t 'diagnostics.index.previous_update' %></th>
          <th class="diagnostics_col_next_update"><%= t 'diagnostics.index.next_update' %></th>
          </thead>
          <tbody>
          <tr>
            <td><i class="fa fa-circle <%= @global_conf_status[:status_class] %>"></i></td>
            <td><%= @global_conf_status[:status_message] %></td>
            <td><%= @global_conf_status[:prev_update] %></td>
            <td><%= @global_conf_status[:next_update] %></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="box">
        <div class="box-heading">
          <span class="box-title"><%= t 'diagnostics.index.timestamping' %></span>
        </div>

        <table id="global_configuration" class="bordered">
          <thead>
          <th class="diagnostics_col_status"><%= t 'diagnostics.index.status' %></th>
          <th class="diagnostics_col_message"><%= t 'diagnostics.index.service_url' %></th>
          <th class="diagnostics_col_message"><%= t 'diagnostics.index.message' %></th>
          <th class="diagnostics_col_prev_update"><%= t 'diagnostics.index.previous_update' %></th>
          </thead>
          <tbody>
          <% @timestamp_data.each do |key, status| %>
              <tr>
                <td><i class="fa fa-circle <%= get_status_class(status['returnCode']) %>"></i></td>
                <td><%= key %></td>
                <td><%= get_status_message(status['returnCode']) %></td>
                <td><%= get_formatted_time(status['prevUpdate']) %></td>
              </tr>
          <% end %>
          </tbody>

        </table>
      </div>
      <div class="box">
        <div class="box-heading">
          <span class="box-title"><%= t 'diagnostics.index.title_ocsp' %></span>
        </div>

        <table class="bordered">
          <thead>

          </thead>

          <% @ocsp_data.each do |_, details| %>
              <% next unless details.is_a? Hash %>
              <% statusMap = details['ocspResponderStatusMap'] %>
              <% next if statusMap.nil? || statusMap.size == 0 %>
              <thead>
              <tr>
                <th colspan="5">
                  <h3><strong><%= t 'diagnostics.index.label_ocsp_cert_service' %></strong><%= details['name'] %></h3>
                </th>
              </tr>
              <tr>
                <th class="diagnostics_col_status"><%= t 'diagnostics.index.status' %></th>
                <th class="diagnostics_col_message"><%= t 'diagnostics.index.service_url' %></th>
                <th class="diagnostics_col_message"><%= t 'diagnostics.index.message' %></th>
                <th class="diagnostics_col_prev_update"><%= t 'diagnostics.index.previous_update' %></th>
                <th class="diagnostics_col_next_update"><%= t 'diagnostics.index.next_update_at_latest' %></th>
              </tr>
              </thead>
              <% statusMap.each do |key, valueMap| %>
                  <tr class="margin-bottom-20">
                    <td><i class="fa fa-circle <%= get_status_class(valueMap['status']) %>"></i></td>
                    <td><%= key %></td>
                    <td><%= get_status_message(valueMap['status']) %></td>
                    <td><%= get_formatted_time(valueMap['prevUpdate']) unless valueMap['prevUpdate'].nil? %></td>
                    <td><%= get_formatted_time(valueMap['nextUpdate']) %></td>
                  </tr>
              <% end %>
              <thead>
              <tr class="spacer-height-20">
                <td></td>
              </tr>
              </thead>
          <% end %>
        </table>
      </div>

    </section>
<% end %>
