<%= dialog "add_ca_step4_add_top_ca_ocsp_responders", t("approved_cas.add.step4.title") do %>
  <section class="container top_ca_ocsp_responder">
    <legend>
      <%= t 'approved_cas.add.step4.top_ca_ocsp_responder' %>
      <% if can?(get_approved_ca_edit_privilege) %>
        <button id="top_ca_ocsp_responder_delete">
          <%= t 'common.delete' %>
        </button>
      <% end %>
    </legend>
    <table class="details">
      <tr>
        <td><%= t 'approved_cas.add.url' %></td>
        <td class='wide'><input id="top_ca_ocsp_responder_url" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'approved_cas.add.cert' %></td>
        <td class='wide'>
          <%= form_tag "#{controller.controller_name}/upload_ocsp_responder_cert",
              :id => "ocsp_responder_cert_upload_form", :multipart => true,
              :target => "top_ca_ocsp_responder_cert_upload_target" do %>
            <%= file_field_tag "upload_ocsp_responder_cert_file" %>
          <% end %>
        </td>
        <td>
          <% if can?(get_approved_ca_edit_privilege) %>
            <button id="ocsp_responder_cert_upload" disabled="disabled">
              <%= t 'approved_cas.add.load' %>
            </button>
          <% end %>
        </td>
      </tr>
    </table>
    <p id="ocsp_responder_cert_temp_id" class="ui-helper-hidden"></p>
    <p id="ocsp_responder_id" class="ui-helper-hidden"></p>
  </section>
  <section class="container">
  <iframe
      id="top_ca_ocsp_responder_cert_upload_target"
      name="top_ca_ocsp_responder_cert_upload_target">
  </iframe>

  <% if can?(get_approved_ca_edit_privilege) %>
    <button id="ca_add_top_ca_ocsp_responder" disabled="disabled">
      <%= t 'approved_cas.add.step4.add_top_ca_ocsp_responder' %>
    </button>
  <% end %>
  </section>
<% end %>
