<% content_for :head do %>
  <%= javascript_include_tag "intermediate_ca_dialog" %>
<% end %>

<%= dialog "intermediate_ca_dialog" do %>
  <div id="intermediate_ca_tabs">
    <ul>
      <li><a href="#intermediate_ca_cert_tab"><%= t 'approved_cas.ca_certificate' %></a></li>
      <li><a href="#intermediate_ca_ocsp_responders_tab"><%= t 'approved_cas.ocsp_responders' %></a></li>
    </ul>

    <div id="intermediate_ca_cert_tab">
      <table class="details">
        <tr>
          <td class="label"><%= t 'common.subject_dn' %></td>
          <td><p id="intermediate_ca_cert_subject_dn" class="input"></p></td>
        </tr>
        <tr>
          <td><%= t 'common.issuer_dn' %></td>
          <td><p id="intermediate_ca_cert_issuer_dn" class="input"></p></td>
        </tr>
        <tr>
          <td><%= t 'common.valid_from' %></td>
          <td><p id="intermediate_ca_cert_valid_from" class="input"></p></td>
        </tr>
        <tr>
          <td><%= t 'common.valid_to' %></td>
          <td><p id="intermediate_ca_cert_valid_to" class="input"></p></td>
        </tr>
        <tr>
          <td colspan="2">
            <button id="intermediate_ca_cert_view" class="right">
              <%= t 'common.cert_view' %>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <div id="intermediate_ca_ocsp_responders_tab">
      <div class="ui-tabs-panel-actions">
        <% if can?(:edit_approved_ca) %>
        <button id="intermediate_ca_ocsp_responder_edit"><%= t 'common.edit' %></button>
        <button id="intermediate_ca_ocsp_responder_add"><%= t 'common.add' %></button>
        <button id="intermediate_ca_ocsp_responder_delete"><%= t 'common.delete' %></button>
        <% end %>
      </div>

      <table id="intermediate_ca_ocsp_responders">
        <thead>
          <tr>
            <th><%= t 'common.url' %></th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
<% end %>
