<% content_for :head do %>
  <%= javascript_include_tag "cas" %>
<% end %>

<% content_for :content do %>
  <div class="approved_cas_actions">
    <% if can?(:view_approved_ca_details) %>
      <button id="ca_details" class="approved_ca-action"><%= t 'common.edit' %></button>
    <% end %>
    <% if can?(:add_approved_ca) %>
      <button id="ca_add"><%= t 'common.add' %></button>
    <% end %>
    <% if can?(:delete_approved_ca) %>
      <button id="ca_delete" class="approved_ca-action"><%= t 'common.delete' %></button>
    <% end %>
  </div>

  <table id="cas">
    <thead>
      <tr>
        <th><%= t 'approved_cas.trusted_certification_service' %></th>
        <th><%= t 'common.valid_from' %></th>
        <th><%= t 'common.valid_to' %></th>
      </tr>
    </thead>
  </table>

  <%= dialog "ca_cert_upload_dialog" do %>
    <table class="details">
      <tr>
        <td style="width: 100%;">
          <%= text_field_tag "ca_cert_file", nil, :disabled => "disabled" %>
        </td>
        <td>
          <%= form_tag "", :multipart => true, :target => "upload_target" do %>
            <%= hidden_field_tag "ca_id" %>
            <%= browse_button "ca_cert" %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= dialog "ca_settings_dialog" do %>
    <%= render :partial => "ca_settings", :locals => { :with_save_button => false } %>
  <% end %>

  <%= render :partial => "approved_ca_dialog" %>
<% end %>
