<% unless key_saved_to_configuration?(@key) %>
<p><%= t '.friendly_name_hint' %></p><br/>
<% end %>

<table class="details">
  <tr>
    <td><%= t '.friendly_name' %>:</td>
    <td>
      <form>
        <input id="key_id" name="key_id" type="hidden" value="<%= @key.id %>"/>
        <input id="friendly_name" name="friendly_name" type="text"
               style="float: right;" value="<%= @key.friendlyName || @key.id %>"
               <%= "disabled" unless key_saved_to_configuration?(@key) %>/>
      </form>
    </td>
  </tr>
</table>

<section class="container">
  <h2><span><%= t '.key_info' %></span></h2>
  <pre>
    <%= t '.key_id' %>: <%= @key.id %>
    <%= t '.readonly' %>: <%= @token.readOnly %>
  </pre>
</section>
