<table class="details">
  <tr>
    <td><%= t '.friendly_name' %>:</td>
    <td>
      <form>
        <input name="token_id" type="hidden" value="<%= @token.id %>"/>
        <input name="friendly_name" type="text" style="float: right;"
               value="<%= @token.friendlyName || @token.id %>"
               <%= "disabled" unless token_saved_to_configuration?(@token) %>/>
      </form>
    </td>
  </tr>
</table>

<section class="container">
  <% unless @token.tokenInfo.isEmpty %>
  <textarea readonly class="dump" style="height: auto;" wrap="off"><%= t '.token_info' %>:
<% @token.tokenInfo.each do |key, value| %>    <%= key %>: <%= value %>
<% end %></textarea>
  <% end %>
</section>
