<% content_for :head do %>
  <%= javascript_include_tag "jquery-datatables-rowgrouping", "keys" %>
<% end %>

<% content_for :content do %>
  <table id="keys">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th style="width: 22%"><%= t '.certificate' %></th>
        <th style="width: 10%"><%= t '.member' %></th>
        <th style="width: 13%"><%= t '.ocsp_response' %></th>
        <th style="width: 13%"><%= t '.expires' %></th>
        <th style="width: 10%"><%= t '.status' %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>

  <div class="dataTables_actions cf">
    <div class="left">
      <button id="details"><%= t '.details' %></button>
      <% if can?(:generate_key) %>
      <button id="generate_key"><%= t '.generate_key' %></button>
      <% end %>
      <% if can?(:generate_auth_cert_req) || can?(:generate_sign_cert_req) %>
      <button id="generate_csr"><%= t '.generate_csr' %></button>
      <% end %>
      <% if can?(:activate_disable_auth_cert) || can?(:activate_disable_sign_cert) %>
      <button id="activate" style="display: none;"><%= t '.activate' %></button>
      <button id="disable"><%= t 'common.disable' %></button>
      <% end %>
      <% if can?(:send_auth_cert_reg_req) %>
      <button id="register"><%= t '.register' %></button>
      <% end %>
      <% if can?(:send_auth_cert_del_req) %>
      <button id="unregister"><%= t '.unregister' %></button>
      <% end %>
      <% if can?(:delete_auth_cert) || can?(:delete_sign_cert) ||
         can?(:delete_key) || can?(:delete_auth_key) || can?(:delete_sign_key) %>
      <button id="delete"><%= t 'common.delete' %></button>
      <% end %>
    </div>
    <div class="right">
      <% if can?(:import_auth_cert) || can?(:import_sign_cert) %>
      <button id="import_cert"><%= t '.import_certificate' %></button>
      <% end %>
    </div>
  </div>

  <div class="clearer"></div>

  <%= dialog "generate_csr_dialog", t('.generate_csr') do %>
    <%= form_tag do %>
      <input name="token_id" id="token_id" type="hidden"/>
      <input name="key_id" id="key_id" type="hidden"/>
      <input name="key_usage" id="key_usage" type="hidden"/>

      <span style="float: left;"><%= t '.usage' %>:</span>
      <span style="float: right;">
        <select id="key_usage_select" style="width: 10em;">
          <% if can?(:generate_sign_cert_req) %>
          <option value="sign"><%= t '.usage_sign' %></option>
          <% end %>
          <% if can?(:generate_auth_cert_req) %>
          <option value="auth"><%= t '.usage_auth' %></option>
          <% end %>
        </select>
      </span><div class="clearer"></div><br/>

      <div>
        <span style="float: left;"><%= t '.client' %>:</span>
        <span style="float: right;">
          <%= select_tag "member_id", options_for_select(client_options(@client_ids)),
              :style => "text-transform: none;" %>
        </span><div class="clearer"></div><br/>
      </div>

      <span style="float: left;"><%= t '.distinguished_name' %>:</span>
      <span style="float: right;">
        <input id="subject_name" name="subject_name" type="text" style="width: 25em;"/>
      </span>
    <% end %>
  <% end %>

  <%= dialog "token_details_dialog", t('.token_details') %>
  <%= dialog "key_details_dialog", t('.key_details') %>

  <%= render :partial => "shared/cert_details_dialog" %>
  <%= render :partial => "application/activate_token_dialog" %>

  <%= dialog "register_dialog", t('.registration_request') do %>
    <%= form_tag do %>
      <table style="width: 100%;">
        <tr>
          <td><%= t '.server_dns_or_ip' %>:</td>
          <td><%= text_field_tag "address", nil, :style => "width: 90%;" %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
<% end %>
