<% content_for :head do %>
  <%= javascript_include_tag "centerui_common" %>
  <%= javascript_include_tag "import" %>
<% end %>

<% content_for :content do %>
  <div class="import_actions">
    <button id="upload_v5_data"><%= t 'common.upload' %></button>
    <button id="last_result"><%= t 'import_v5.last_result' %></button>
  </div>

  <table id="v5_data_files">
    <thead>
      <tr>
        <th><%= t 'import_v5.file_type' %></th>
        <th><%= t 'import_v5.file_info' %></th>
      </tr>
    </thead>
  </table>

  <%= render :partial => "application/console_output_dialog" %>
<% end %>
