<div id="management_request_edit_common">
  <section class="container">
    <h2><span><%= t 'management_requests.request.legend' %></span></h2>
    <table class="details">
      <tr>
        <td class="label"><%= t 'management_requests.request_id' %></td>
        <td><p id="management_request_id" class="input management_request_id"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'management_requests.received' %></td>
        <td><p class="input management_request_received"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'management_requests.source' %></td>
        <td><p class="input management_request_source"></p></td>
      </tr>
      <tr class="request_status">
        <td class="label"><%= t 'management_requests.status' %></td>
        <td><p class="input management_request_status"></p></td>
      </tr>
      <tr class="complementary_id">
        <td class="label"><%= t 'management_requests.complementary_id' %></td>
        <td><p class="input management_request_complementary_id"></p></td>
      </tr>
      <tr class="revoking_id">
        <td class="label"><%= t 'management_requests.revoking_id' %></td>
        <td><p class="input management_request_revoking_id"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'management_requests.comments' %></td>
        <td><p class="input management_request_comments"></p></td>
      </tr>
    </table>
  </section>

  <section class="container">
    <h2><span><%= t 'management_requests.securityserver.legend' %></span></h2>
    <table class="details">
      <tr>
        <td class="label"><%= t 'securityservers.owner_name' %></td>
        <td><p class="input management_request_server_owner_name"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'securityservers.owner_class' %></td>
        <td><p class="input management_request_server_owner_class"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'securityservers.owner_code' %></td>
        <td><p class="input management_request_server_owner_code"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'securityservers.server_code' %></td>
        <td><p class="input management_request_server_code"></p></td>
      </tr>
      <tr>
        <td class="label"><%= t 'securityservers.address' %></td>
        <td><p class="input management_request_server_address"></p></td>
      </tr>
    </table>
  </section>
</div>
