<%= dialog "owned_server_add_dialog", t("management_requests.details.auth_cert_reg.new.title") do %>
  <section class="container">
    <h2><span><%= t 'securityservers.info.legend' %></span></h2>
    <table class="details">
      <tr>
        <td class="description"><%= t 'securityservers.owner_name' %></td>
        <td><p id="owned_server_owner_name" class="input ui-state-disabled" ></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.owner_class' %></td>
        <td><p id="owned_server_owner_class" class="input ui-state-disabled" ></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.owner_code' %></td>
        <td><p id="owned_server_owner_code" class="input ui-state-disabled" ></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.server_code' %></td>
        <td><input id="owned_server_add_servercode" type="text"/></td>
      </tr>
    </table>
  </section>

  <section class="container">
    <h2><span><%= t 'securityservers.auth_cert.cert.legend' %></span></h2>
    <% if can?(:add_security_server_auth_cert_reg_request) %>
      <%= form_tag "members/import_auth_cert", :id => "member_auth_cert_upload", :multipart => true, :target => "upload_target" do %>
        <p class="acenter">
          <%= upload_button("owned_server_cert_upload") %>
        </p>
      <% end %>
    <% end %>

    <table class="details">
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.ca' %></td>
        <td><p id="owned_server_authcert_csp" class="input ui-state-disabled" ></p></td>
      </tr>
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.serial_number' %></td>
        <td><p id="owned_server_authcert_serial_number" class="input ui-state-disabled" ></p></td>
      </tr>
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.subject' %></td>
        <td><p id="owned_server_authcert_subject" class="input ui-state-disabled" ></p></td>
      </tr>
      <tr class="auth_cert_details">
        <td class="description"><%= t 'securityservers.auth_cert.expires' %></td>
        <td><p id="owned_server_authcert_expires" class="input ui-state-disabled" ></p></td>
      </tr>
    </table>
    <p id="owned_server_temp_cert_id" class="ui-helper-hidden"></p>
  </section>
<% end %>
