<%= dialog "securityserver_client_register_dialog", t("members.edit.used_servers.add.title") do %>
  <section class="container">
    <h2><span><%= t 'members.edit.used_servers.add.client.legend' %></span></h2>
    <table class="details">
      <tr>
        <td class="acenter" colspan="2">
          <% if can?(:view_security_server_details) %>
            <button id="securityserver_client_client_search" >
              <%= t 'common.search' %>
            </button>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.clients.name' %></td>
        <td><p id="securityserver_client_name" class="input ui-state-disabled"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.clients.class' %></td>
        <td><p id="securityserver_client_class" class="input ui-state-disabled"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.clients.code' %></td>
        <td><p id="securityserver_client_code" class="input ui-state-disabled"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.clients.subsystem_code' %></td>
        <td><input id="securityserver_client_subsystem_code" type="text"/></td>
      </tr>
    </table>
  </section>
  <section class="container">
    <h2><span><%= t 'securityservers.info.legend' %></span></h2>
    <table class="details">
      <tr>
        <td class="description"><%= t 'securityservers.owner_name' %></td>
        <td><p id="securityserver_client_owner_name" class="input"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.owner_class' %></td>
        <td><p id="securityserver_client_owner_class" class="input"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.owner_code' %></td>
        <td><p id="securityserver_client_owner_code" class="input"></p></td>
      </tr>
      <tr>
        <td class="description"><%= t 'securityservers.server_code' %></td>
        <td><p id="securityserver_client_server_code" class="input"></p></td>
      </tr>
    </table>
  </section>
  <%= render :partial => "shared/securityserver_search_dialog" %>

  <%= render :partial => "shared/member_search_dialog" %>
<% end %>
