<table class="details">
  <tr>
    <td class="label pre"><%= t 'approved_cas.authentication_only' %>
<%= t 'approved_cas.authentication_only_hint' %></td>
    <td>
      <input name="authentication_only" type="checkbox"
             class="authentication_only" />
    </td>
  </tr>
  <tr>
    <td class="label pre"><%= t 'approved_cas.cert_profile_info' %>
<%= t 'approved_cas.cert_profile_info_hint' %></td>
    <td>
      <input name="cert_profile_info" type="text"
             class="cert_profile_info">
    </td>
  </tr>
  <% if with_save_button %>
  <tr>
    <td colspan="2">
      <button id="ca_settings_save" class="right">
        <%= t 'common.save' %>
      </button>
    </td>
  </tr>
  <% end %>
</table>
