<%= dialog "central_service_member_search_dialog", t('central_services.details.implementing_service.search_title') do %>
  <table id="central_service_details_providers" class="">
    <thead>
      <tr>
        <th id="central_service_id_service_code"><%= t 'central_services.provider_name' %></th>
        <th id="central_service_id_provider_code"><%= t 'central_services.provider_code' %></th>
        <th id="central_service_id_provider_class"><%= t 'central_services.provider_class' %></th>
        <th id="central_service_id_provider_subsystem"><%= t 'central_services.provider_subsystem' %></th>
      </tr>
    </thead>
  </table>
<% end %>
