<% content_for :head do %>
  <%= javascript_include_tag "centerui_common" %>
  <%= javascript_include_tag "central_services" %>
  <%= javascript_include_tag "central_service_edit" %>
<% end %>

<% content_for :content do %>
  <div class="central_services_actions">
    <% if can?(:view_central_service_details) %>
      <button id="central_service_details" class="central_service-action"><%= t 'common.edit' %></button>
    <% end %>
    <% if can?(:add_central_service) %>
      <button id="central_service_add"><%= t 'central_services.details.button' %></button>
    <% end %>
    <% if can?(:remove_central_service) %>
      <button id="central_service_delete" class="central_service-action"><%= t 'common.delete' %></button>
    <% end %>
  </div>

  <table id="central_services" class="">
    <thead>
      <tr>
        <th class="table_header_group right_bordered"><%= t 'central_services.central_service' %></th>
        <th colspan="5" class="table_header_group"><%= t 'central_services.implementing_service' %></th>
      </tr>
      <tr>
        <th id="central_service_code" class="right_bordered"><%= t 'central_services.service_code' %></th>
        <th id="central_service_id_service_code"><%= t 'central_services.service_code' %></th>
        <th id="central_service_id_service_code"><%= t 'central_services.service_version' %></th>
        <th id="central_service_id_provider_code"><%= t 'central_services.provider_code' %></th>
        <th id="central_service_id_provider_class"><%= t 'central_services.provider_class' %></th>
        <th id="central_service_id_provider_subsystem"><%= t 'central_services.provider_subsystem' %></th>
      </tr>
    </thead>
  </table>

  <%= render :partial => "central_service_details_dialog" %>
<% end %>
