<% content_for :head do %>
  <%= javascript_include_tag "acl_subjects_search" %>
<% end %>

<%= dialog "acl_subjects_search_dialog", t('.add_subjects') do %>
  <%= render_advanced_search "acl_subjects_search", "acl_subjects_search" %>

  <table id="acl_subjects_search">
    <thead>
      <tr>
        <th><%= t 'clients.service_acl_dialog.member_name_group_desc' %></th>
        <th><%= t 'common.id' %></th>
      </tr>
    </thead>
  </table>
<% end %>
