<div class="ui-tabs-panel-actions">
  <% if can?(:send_client_reg_req) %>
  <button id="client_register"><%= t '.register' %></button>
  <% end %>
  <% if can?(:send_client_del_req) %>
  <button id="client_unregister"><%= t '.unregister' %></button>
  <% end %>
  <% if can?(:delete_client) %>
  <button id="client_delete"><%= t '.delete' %></button>
  <% end %>
</div>

<section class="container">
  <input id="details_client_id" type="hidden"/>
  <table class="details">
    <tr>
      <td class="label"><%= t 'clients.index.member_name' %></td>
      <td><input id="details_member_name" type="text" readonly/></td>
    </tr>
    <tr>
      <td class="label"><%= t 'clients.index.member_class' %></td>
      <td><input id="details_member_class" type="text" readonly/></td>
    </tr>
    <tr>
      <td class="label"><%= t 'clients.index.member_code' %></td>
      <td><input id="details_member_code" type="text" readonly/></td>
    </tr>
    <tr>
      <td class="label"><%= t 'clients.index.subsystem_code' %></td>
      <td><input id="details_subsystem_code" type="text" readonly/></td>
    </tr>
  </table>
</section>

<section class="container">
  <h2><span><%= t '.certificates' %></span></h2>
  <table id="certificates">
    <thead>
      <tr>
        <th><%= t '.ca' %></th>
        <th><%= t '.serial_number' %></th>
        <th><%= t '.state' %></th>
        <th><%= t '.expires' %></th>
      </tr>
    </thead>
  </table>
</section>
