<%= dialog "client_details_dialog" do %>
  <div id="client_details_tabs">
    <ul>
      <li><a href="#details_tab"><i class="fa fa-info"></i> <%= t '.details' %></a></li>

      <% if can?(:view_client_acl_subjects) %>
      <li><a href="#acl_subjects_tab"><i class="fa fa-gears"></i> <%= t '.acl_subjects' %></a></li>
      <% end %>

      <% if can?(:view_client_services) %>
      <li><a href="#services_tab"><i class="fa fa-wrench"></i> <%= t '.services' %></a></li>
      <% end %>

      <% if can?(:view_client_internal_certs) %>
      <li><a href="#internal_certs_tab"><i class="fa fa-cloud"></i> <%= t '.internal_servers' %></a></li>
      <% end %>

      <% if can?(:view_client_local_groups) %>
      <li><a href="#local_groups_tab"><i class="fa fa-group"></i> <%= t '.local_groups' %></a></li>
      <% end %>
    </ul>

    <div id="details_tab">
      <%= render :partial => "client_details_tab" %>
    </div>

    <% if can?(:view_client_acl_subjects) %>
    <div id="acl_subjects_tab">
      <%= render :partial => "client_acl_subjects_tab" %>
    </div>
    <% end %>

    <% if can?(:view_client_services) %>
    <div id="services_tab">
      <%= render :partial => "client_services_tab" %>
    </div>
    <% end %>

    <% if can?(:view_client_internal_certs) %>
    <div id="internal_certs_tab">
      <%= render :partial => "client_internal_certs_tab" %>
    </div>
    <% end %>

    <% if can?(:view_client_local_groups) %>
    <div id="local_groups_tab">
      <%= render :partial => "client_groups_tab" %>
    </div>
    <% end %>
  </div>
<% end %>
