<!-- Title will be filled dynamically later -->
<%= dialog "central_service_details_dialog", "" do %>
  <section class="container">
    <table class="details">
      <tr>
        <td><%= t 'central_services.details.central_service_code' %></td>
        <td><input id="central_service_details_service_code" type="text"/></td>
      </tr>
    </table>
  </section>

  <section class="container">
    <h2>
      <span><%= t 'central_services.details.implementing_service.legend' %></span>
    </h2>

    <table class="details">
      <tr>
        <td><%= t 'central_services.details.implementing_service.code' %></td>
        <td><input id="central_service_details_target_code" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'central_services.service_version' %></td>
        <td><input id="central_service_details_service_version" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'central_services.details.implementing_service.provider_name' %></td>
        <td><input id="central_service_details_target_provider_name" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'central_services.provider_code' %></td>
        <td><input id="central_service_details_target_provider_code" type="text"/></td>
      </tr>
      <tr>
        <td><%= t 'central_services.provider_class' %></td>
        <td><%= select_tag(
          "central_service_details_target_provider_class",
          options_for_select([""])) %>
        </td>
      </tr>
      <tr>
        <td><%= t 'central_services.provider_subsystem' %></td>
        <td><input id="central_service_details_target_provider_subsystem" type="text"/></td>
      </tr>
    </table>

    <div class="dialog-buttons-container cf">
      <% if can?(:edit_implementing_service) %>
        <button id="central_service_details_clear_search" class="left lfloat">
          <%= t 'common.clear' %>
        </button>
      <% end %>
      <% if can?(:edit_implementing_service) %>
        <button id="central_service_details_search_provider" class="right rfloat">
          <%= t 'central_services.details.search_provider' %>
        </button>
      <% end %>
    </div>
  </section>

  <%= render :partial => "central_service_member_search_dialog" %>
<% end %>
