<%= dialog "acl_subject_open_services_dialog",
    t('clients.client_acl_subjects_tab.open_services') do %>

  <table id="services_open">
    <thead>
      <tr>
        <th><%= t '.service_code' %></th>
        <th><%= t '.service_title' %></th>
        <th><%= t '.rights_given' %></th>
      </tr>
    </thead>
  </table>
<% end %>

<%= dialog "acl_subject_open_services_add_dialog", t('.add_services') do %>
  <table id="services_all">
    <thead>
      <tr>
        <th><%= t '.service_code' %></th>
        <th><%= t '.service_title' %></th>
      </tr>
    </thead>
  </table>
<% end %>
