<%= dialog "client_add_dialog", t('clients.index.add_client') do %>
  <section class="container center">
    <button id="client_select" class="common_button" style="margin-bottom: 0.5em;">
      <%= t '.select' %>
    </button>
  </section>
  <section class="container">
    <%= form_tag do %>
    <table class="details">
      <tr>
        <td><%= t 'clients.index.member_name' %></td>
        <td id="add_member_name"></td>
      </tr>
      <tr>
        <td><%= t 'clients.index.member_class' %> <span>*</span></td>
        <td><%= select_tag "add_member_class", options_for_select(@member_classes_instance) %></td>
      </tr>
      <tr>
        <td><%= t 'clients.index.member_code' %> <span>*</span></td>
        <td><%= text_field_tag "add_member_code" %></td>
      </tr>
      <tr>
        <td><%= t 'clients.index.subsystem_code' %></td>
        <td><%= text_field_tag "add_subsystem_code" %></td>
      </tr>
    </table>
    <% end %>
  </section>
<% end %>

<%= render :partial => "client_select_dialog" %>
