<%= dialog "client_add_dialog", t('clients.index.add_client') do %>
  <div class="align-center" style="margin: 1em 0;">
    <button id="client_select" class="common_button" style="margin-bottom: 0.5em;">
      <%= t '.select' %>
    </button>
  </div>
  <fieldset>
    <legend><%= t '.new_client' %></legend>
    <%= form_tag do %>
    <table style="width: 100%;">
      <tr>
        <td><%= t 'clients.index.member_name' %></td>
        <td><%= text_field_tag "add_member_name", nil, disabled: true %></td>
      </tr>
      <tr>
        <td><%= t 'clients.index.member_class' %> <span>*</span></td>
        <td><%= select_tag "add_member_class", options_for_select(@member_classes) %></td>
      </tr>
      <tr>
        <td><%= t 'clients.index.member_code' %> <span>*</span></td>
        <td><%= text_field_tag "add_member_code" %></td>
      </tr>
      <tr>
        <td><%= t 'clients.index.subsystem_code' %></td>
        <td><%= text_field_tag "add_subsystem_code" %></td>
      </tr>
    </table>
    <% end %>
  </fieldset>
<% end %>

<%= render :partial => "client_select_dialog" %>
<%= render :partial => "clients_load_dialog" %>
