<% content_for :head do %>
  <%= javascript_include_tag "services" %>
<% end %>

<div class="services_actions">
  <% if can?(:add_wsdl) %>
    <button id="wsdl_add"><%= t '.add_wsdl' %></button>
  <% end %>
  <% if can?(:enable_disable_wsdl) %>
  <button id="wsdl_enable"><%= t 'common.enable' %></button>
  <button id="wsdl_disable"><%= t 'common.disable' %></button>
  <% end %>
  <% if can?(:refresh_wsdl) %>
  <button id="wsdl_refresh"><%= t 'common.refresh' %></button>
  <% end %>
  <% if can?(:delete_wsdl) %>
  <button id="wsdl_delete"><%= t 'common.delete' %></button>
  <% end %>
  <% if can?(:edit_service_params) %>
  <button id="service_params"><%= t 'common.edit' %></button>
  <% end %>
  <% if can?(:view_service_acl) %>
  <button id="service_acl"><%= t '.access_rights' %></button>
  <% end %>
</div>

<table id="services" class="fixed">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= t '.service_code' %></th>
      <th><%= t '.title' %></th>
      <th><%= t '.url' %></th>
      <th><%= t '.timeout' %></th>
      <th><%= t '.last_refreshed' %></th>
    </tr>
  </thead>
</table>

<%= dialog "wsdl_add_dialog" do %>
  <%= form_tag do %>
    <table class="details">
      <tr>
        <td><%= t '.url' %>:</td>
        <td><%= text_field_tag "wsdl_add_url", nil, :style => "width: 90%;" %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<%= dialog "wsdl_disable_dialog", t('.disable_wsdl') do %>
  <%= form_tag do %>
    <table class="details">
      <tr>
        <td><%= t '.disable_notice' %></td>
      </tr>
      <tr>
        <td><%= text_field_tag "wsdl_disabled_notice", nil %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<%= dialog "wsdl_params_dialog", t('.edit_wsdl_parameters') do %>
  <%= form_tag do %>
    <table class="details">
      <tr>
        <td><%= t '.url' %></td>
        <td><%= text_field_tag "params_wsdl_url", nil %></td>
      </tr>
    </table>
  <% end %>
<% end %>

<%= render :partial => "service_params_dialog" %>
<%= render :partial => "service_acl_dialog" %>
