<%= dialog "client_select_dialog", t('.select_client') do %>
  <div class="simple_search" style="padding-bottom: 1em;">
    <%= form_tag(nil, { class: "simple_search_form" }) do %>
      <%= text_field_tag "search_member" %>
      <button class="search"><%= t 'common.search' %></button>
      <label title="<%= t 'clients.client_select_dialog.label_title' %>" ><%= t 'clients.client_select_dialog.filter' %> </label>
        <%= check_box_tag 'search_filter', 1, true %>
    <% end %>
  </div>

  <table id="clients_global">
    <thead>
      <tr>
        <th><%= t 'clients.index.member_name' %></th>
        <th><%= t 'clients.index.member_class' %></th>
        <th><%= t 'clients.index.member_code' %></th>
        <th><%= t 'clients.index.subsystem_code' %></th>
      </tr>
    </thead>
  </table>
<% end %>
