<% content_for :head do %>
  <%= javascript_include_tag "internal_certs" %>
<% end %>

<% if can?(:view_client_internal_connection_type) %>
<section class="container">
  <h2><span><%= t '.connection_type' %></span></h2>
  <p><%= t('.connection_type_hint').html_safe %></p>
  <div>
    <%= select_tag "connection_type", options_for_select(
        [ ["HTTP", "NOSSL"], ["HTTPS", "SSLAUTH"], ["HTTPS no auth", "SSLNOAUTH"] ]) %>
    <% if can?(:edit_client_internal_connection_type) %>
      <%= button_tag t('common.save'), :id => 'internal_connection_type_edit' %>
    <% end %>
  </div>
</section>
<% end %>

<section class="container">
  <h2><span><%= t(".internal_ssl_certs") %></span></h2>

  <table id="internal_certs">
    <thead>
      <tr>
        <th><%= t '.certificate_hash', :alg => CommonUi::CertUtils.cert_hash_algorithm %></th>
      </tr>
    </thead>
  </table>

  <div class="dataTables_actions">
    <% if can?(:view_client_internal_cert_details) %>
      <%= button_tag t('common.details'), :id => 'internal_cert_details' %>
    <% end %>

    <% if can?(:add_client_internal_cert) %>
      <%= button_tag t('common.add'), :id => 'internal_cert_add' %>
    <% end %>

    <% if can?(:delete_client_internal_cert) %>
      <%= button_tag t('common.delete'), :id => 'internal_cert_delete' %>
    <% end %>
  </div>
</section>

<% if can?(:view_proxy_internal_cert) %>
<section class="container">
  <h2><span><%= t '.security_server_cert' %></span></h2>

  <table id="proxy_internal_cert">
    <thead>
      <tr>
        <th><%= t '.certificate_hash', :alg => CommonUi::CertUtils.cert_hash_algorithm %></th>
      </tr>
    </thead>
  </table>

  <% if can?(:export_proxy_internal_cert) %>
  <div class="dataTables_actions">
    <button id="proxy_internal_cert_export"><%= t 'common.export' %></button>
  </div>
  <% end %>
</section>
<% end %>

<%= render :partial => "shared/cert_details_dialog" %>
