<%= dialog "group_details_dialog" do %>
  <section class="container">
    <h2><span><%= t 'common.description' %></span></h2>

    <table class="details">
      <tr>
        <td></td>
        <td style="width: 100%">
          <p id="group_details_description" class="input" ></p>
        </td>
        <td>
          <% if can?(:edit_local_group_desc) %>
            <button id="edit"><%= t 'common.edit' %></button>
          <% end %>
        </td>
      </tr>
    </table>
  </section>

  <section class="container">
    <h2><span><%= t '.group_members' %> (<b id="group_details_member_count"></b>)</span></h2>

    <%= render_advanced_search "group_members_search", "group_members" %>

    <table id="group_members">
      <thead>
        <tr>
          <th><%= t '.name' %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th><%= t 'common.id' %></th>
          <th><%= t '.added' %></th>
        </tr>
      </thead>
    </table>
  </section>
<% end %>

<%= dialog "group_description_edit_dialog", t('.edit_title') do %>
  <textarea id="group_description_edit"></textarea>
<% end %>

<%= render :partial => "group_members_add_dialog" %>
