<%= dialog "group_details_dialog" do %>
  <div class="fill">
    <p><%= t 'clients.client_groups_dialog.description' %></p>
    <div style="margin: 0.5em 0;">
      <input id="group_details_description" type="text" style="width: 80%;" readonly="true"/>
      <% if can?(:edit_local_group_desc) %>
      <button id="edit" class="right"><%= t '.edit' %></button>
      <% end %>
      <div class="clearer"></div>
    </div>

    <p><%= t '.group_members' %> (<span id="group_details_member_count"></span>)</p>

    <div id="group_members_actions">
      <div class="right">
        <span><%= t 'common.select_all' %></span>
        <input class="select_all" type="checkbox"/>
      </div>

      <div class="clearer"></div>

      <div class="simple_search">
        <a href="#"><%= t 'common.advanced_search' %></a>
      </div>

      <div class="advanced_search">
        <fieldset style="width: 30%; padding: 0 1em;">
          <legend><%= t 'common.advanced_search' %></legend>

          <table style="width: 100%;">
            <tr>
              <td><%= t 'clients.group_details_dialog.name' %></td>
              <td><%= text_field_tag nil %></td>
            </tr>
            <tr>
              <td><%= t 'clients.group_details_dialog.type' %></td>
              <td>
                <%= select_tag nil, options_for_select(@member_types),
                    :include_blank => true %>
              </td>
            </tr>
            <tr>
              <td><%= t 'clients.group_details_dialog.sdsb' %></td>
              <td>
                <%= select_tag nil, options_for_select(@instances),
                    :include_blank => true %>
              </td>
            </tr>
            <tr>
              <td><%= t 'clients.group_details_dialog.class' %></td>
              <td><%= select_tag nil, options_for_select(@member_classes),
                      :include_blank => true %></td>
            </tr>
            <tr>
              <td><%= t 'clients.group_details_dialog.code' %></td>
              <td><%= text_field_tag nil %></td>
            </tr>
            <tr>
              <td><%= t 'clients.group_details_dialog.subsystem' %></td>
              <td><%= text_field_tag nil %></td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="search"><%= t 'common.search' %></button>
                <button class="clear"><%= t 'common.clear' %></button>
              </td>
            </tr>
          </table>
        </fieldset>

        <a href="#"><%= t '.simple_search' %></a>
      </div>
    </div>

    <table id="group_members">
      <thead>
        <tr>
          <th><%= t '.name' %></th>
          <th>ID</th>
          <th><%= t '.added' %></th>
        </tr>
      </thead>
    </table>
  </div>

  <div style="margin: 1em 0 0.5em 0;">
    <% if can?(:delete_local_group) %>
    <button id="group_delete" class="left"><%= t '.delete_group' %></button>
    <% end %>
    <% if can?(:edit_local_group_members) %>
    <button id="group_members_remove_selected" class="right"><%= t '.remove_selected_members' %></button>
    <button id="group_members_add" class="right"><%= t '.add_members' %></button>
    <% end %>
    <div class="clearer"></div>
  </div>
<% end %>

<%= dialog "group_description_edit_dialog", t('.edit_title') do %>
  <textarea id="group_description_edit"></textarea>
<% end %>

<%= render :partial => "group_members_add_dialog" %>
