<%= dialog "group_members_add_dialog" do %>

  <%= render_advanced_search "group_members_search", "members_search" %>

  <div id="members_search_actions">
    <input class="show_existing" type="checkbox"/>
    <span><%= t '.show_existing' %></span>
  </div>

  <table id="members_search">
    <thead>
      <tr>
        <th><%= t '.name' %></th>
        <th><%= t 'common.id' %></th>
      </tr>
    </thead>
  </table>
<% end %>
