<% content_for :head do %>
  <%= javascript_include_tag "acl" %>
<% end %>

<%= dialog "service_acl_dialog", t('.access_rights') do %>
  <section class="container">
    <%= t '.service' %> <%= select_tag "service", nil %>
  </section>

  <%= render_advanced_search "acl_subjects_search", "subjects" %>

  <table id="subjects">
    <thead>
      <tr>
        <th><%= t '.member_name_group_desc' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= t 'common.id' %></th>
        <th><%= t '.access_rights_given' %></th>
      </tr>
    </thead>
  </table>
<% end %>
