<% content_for :head do %>
  <%= javascript_include_tag "acl" %>
<% end %>

<%= dialog "service_acl_dialog", t('.access_rights') do %>
  <section class="container cf">
    <%= t '.service' %> <%= select_tag "service", nil %>
  </section>

  <div id="subjects_actions">
    <div class="simple_search">
      <a href="#"><%= t 'common.advanced_search' %></a>
    </div>

    <div class="advanced_search">
      <table class="details">
        <tr>
          <td><%= t '.member_name_group_desc' %></td>
          <td><%= text_field_tag nil %></td>
        </tr>
        <tr>
          <td><%= t '.type' %></td>
          <td>
            <%= select_tag nil, options_for_select(@subject_types),
                :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td><%= t '.instance' %></td>
          <td>
            <%= select_tag nil, options_for_select(@instances),
                :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td><%= t '.member_class' %></td>
          <td><%= select_tag nil, options_for_select(@member_classes),
                  :include_blank => true %></td>
        </tr>
        <tr>
          <td><%= t '.member_group_code' %></td>
          <td><%= text_field_tag nil %></td>
        </tr>
        <tr>
          <td><%= t '.subsystem_code' %></td>
          <td><%= text_field_tag nil %></td>
        </tr>
        <tr>
          <td class="align-right" colspan="2">
            <button class="search"><%= t 'common.search' %></button>
            <button class="clear"><%= t 'common.clear' %></button>
          </td>
        </tr>
      </table>

      <a href="#"><%= t 'common.simple_search' %></a>
    </div>
  </div>

  <table id="subjects">
    <thead>
      <tr>
        <th><%= t '.member_name_group_desc' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= t 'common.id' %></th>
        <th><%= t '.access_rights_given' %></th>
      </tr>
    </thead>
  </table>
<% end %>
