<%= dialog "service_params_dialog", t('.edit_service_parameters') do %>
  <section class="container">
    <%= form_tag do %>
      <%= hidden_field_tag "params_wsdl_id", nil %>
      <%= hidden_field_tag "params_service_id", nil %>
      <table class="details">
        <tr>
          <th></th>
          <th></th>
          <th><%= t '.apply_to_all' %></th>
        </tr>
        <tr>
          <td><%= t '.service_url' %></td>
          <td><%= text_field_tag "params_url", nil %></td>
          <td class="center"><%= check_box_tag "params_url_all", nil %></td>
        </tr>
        <tr>
          <td><%= t 'clients.client_services_tab.timeout' %></td>
          <td><%= text_field_tag "params_timeout", nil %></td>
          <td class="center"><%= check_box_tag "params_timeout_all", nil %></td>
        </tr>
        <tr>
          <td><%= t '.sslauth' %></td>
          <td><%= check_box_tag "params_sslauth", true %></td>
          <td class="center"><%= check_box_tag "params_sslauth_all", nil %></td>
        </tr>
      </table>
    <% end %>
  </section>
<% end %>
