<%= dialog "distributor_add_dialog", t('.add_distributor') do %>
<div class="align-left">
  <%= form_tag "#{controller.controller_name}/distributor_cert_load",
      :multipart => true, :target => 'upload_target' do %>
  <table class="details" style="width: 100%">
    <tr>
      <td><%= t 'sysparams.index.distributor_url' %></td>
      <td>
        <%= text_field_tag "url" %>
      </td>
    </tr>
    <tr>
      <td><%= t 'sysparams.index.distributor_cert' %></td>
      <td>
        <%= file_field_tag "cert" %>
        <button style="margin-top: 5px;" type="submit"><%= t 'common.load' %></button>
      </td>
    </tr>
    <tr>
      <td><%= t '.distributor_cert_subject' %></td>
      <td><%= text_field_tag "subject", nil, disabled: true %></td>
    </tr>
    <tr>
      <td><%= t '.distributor_cert_serial' %></td>
      <td><%= text_field_tag "serial", nil, disabled: true %></td>
    </tr>
  </table>
  <% end %>
  <iframe id="upload_target" name="upload_target"></iframe>
</div>
<% end %>
