<% content_for :head do %>
  <%= javascript_include_tag "sysparams" %>
<% end %>

<% content_for :content do %>
  <div class="box">
    <div class="box-heading">
      <span class="box-title"><%= t 'anchor.title' %></span>

      <% if can?(:upload_anchor) %>
      <button id="anchor_upload"><%= t 'common.upload' %></button>
      <% end %>
      <% if can?(:download_anchor) %>
      <button id="anchor_download"><%= t 'common.download' %></button>
      <% end %>
    </div>

    <p>
      <label>
        <%= t 'common.hash', :alg => CryptoUtils::DEFAULT_ANCHOR_HASH_ALGORITHM_ID %>:
      </label>
      <span class="anchor-hash"></span>
    </p>
    <p>
      <label><%= t 'common.generated' %>:</label>
      <span class="anchor-generated_at"></span>
    </p>
  </div>

  <div class="box">
    <div class="box-heading">
      <span class="box-title"><%= t '.tsps' %></span>

      <% if can?(:add_tsp) %>
      <button id="tsp_add"><%= t 'common.add' %></button>
      <% end %>
      <% if can?(:delete_tsp) %>
      <button id="tsp_delete"><%= t 'common.delete' %></button>
      <% end %>
    </div>

    <table id="tsps" class="bordered">
      <thead>
        <th><%= t '.tsp_name' %></th>
        <th><%= t '.tsp_url' %></th>
      </thead>
    </table>
  </div>

  <% if can?(:view_async_params) %>
  <div class="box">
    <div class="box-heading">
      <span class="box-title"><%= t '.async_params' %></span>

      <% if can?(:edit_async_params) %>
      <button id="async_edit"><%= t 'common.save' %></button>
      <% end %>
    </div>

    <table class="details">
      <tr>
        <td><%= t '.async_period' %>:</td>
        <td><%= text_field_tag 'async_period', nil, :disabled => !can?(:edit_async_params) %></td>
      </tr>
      <tr>
        <td><%= t '.async_max_period' %>:</td>
        <td><%= text_field_tag 'async_max_period', nil, :disabled => !can?(:edit_async_params) %></td>
      </tr>
      <tr>
        <td><%= t '.async_parallel' %>:</td>
        <td><%= text_field_tag 'async_parallel', nil, :disabled => !can?(:edit_async_params) %></td>
      </tr>
    </table>
  </div>
  <% end %>

  <div class="box">
    <div class="box-heading">
      <span class="box-title"><%= t '.internal_ssl_cert' %></span>

      <button id="cert_details"><%= t 'shared.cert_details_dialog.cert_details' %></button>
      <button id="export_internal_ssl_cert"><%= t 'common.export' %></button>
      <button id="import_internal_ssl_cert"><%= t 'common.import' %></button>
      <button id="generate_ssl_csr"><%= t '.internal_ssl_generate_csr' %></button>
      <% if can?(:generate_internal_ssl) %>
      <button id="generate_internal_ssl"><%= t '.internal_ssl_generate_key' %></button>
      <% end %>
    </div>

    <p>
      <label><%= t '.internal_ssl_cert_hash', :alg => CommonUi::CertUtils.cert_hash_algorithm %>:</label>
      <span id="internal_ssl_cert_hash"></span>
    </p>
  </div>

  <%= dialog "internal_ssl_generate_csr_dialog", t('.internal_ssl_generate_csr') do %>
    <%= form_tag do %>
      <input name="token_id" id="token_id" type="hidden"/>
      <input name="key_id" id="key_id" type="hidden"/>
      <input name="key_usage" id="key_usage" type="hidden"/>

      <span style="float: left;"><%= t '.distinguished_name' %>:</span>
      <span style="float: right;">
        <input id="subject_name" name="subject_name" type="text" style="width: 25em;"/>
      </span>
    <% end %>
  <% end %>

  <%= render :partial => 'tsp_add_dialog' %>
  <%= render :partial => 'shared/cert_details_dialog' %>
<% end %>
