<% content_for :head do %>
  <%= javascript_include_tag "init" %>
<% end %>

<% content_for :heading do %>
  <%= heading(t('.heading')) %>
<% end %>

<% content_for :content do %>
  <section class="container" id="init-container">
    <% if @init_anchor %>
      <h2><%= t 'anchor.import_title' %></h2>

      <table class="details">
        <tr>
          <td>
            <input type="text" disabled="disabled" class="selected_file"/>
          </td>
          <td style="width: 12em;">
            <%= form_tag "init/anchor_upload", :id => "anchor_upload_form",
                  :multipart => true, :target => "upload_target" do %>
              <%= browse_button("anchor_upload_file") %>
              <button id="anchor_upload_submit"><%= t 'common.import' %></button>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

    <% if @init_serverconf || @init_software_token %>
      <%= form_tag nil, :id => "serverconf_form" do %>
        <h2><%= t '.security_server_owner' %></h2>
        <table class="details">
          <tr>
            <td><%= t '.member_class' %></td>
            <td><%= select_tag "owner_class", options_for_select([@owner_class], @owner_class),
                      :disabled => @owner_class %></td>
          </tr>
          <tr>
            <td><%= t '.member_code' %></td>
            <td><%= text_field_tag "owner_code", @owner_code, :disabled => @owner_code %></td>
          </tr>
          <tr>
            <td style="width: 15em;"><%= t '.member_name' %></td>
            <td id="owner_name"><%= @owner_name %></td>
          </tr>
        </table>

        <h2><%= t '.security_server' %></h2>
        <table class="details">
          <tr>
            <td style="width: 15em;"><%= t '.security_server_code' %></td>
            <td><%= text_field_tag "server_code", @server_code, :disabled => @server_code %></td>
          </tr>
        </table>

        <h2><%= t '.software_token' %></h2>
        <table class="details">
          <tr>
            <td style="width: 15em;"><%= t '.pin' %></td>
            <td><%= password_field_tag "pin", nil, :disabled => !@init_software_token %></td>
          </tr>
          <tr>
            <td><%= t '.repeat_pin' %></td>
            <td><%= password_field_tag "pin_repeat", nil, :disabled => !@init_software_token %></td>
          </tr>
        </table>
        <p class="button-container">
          <button id="submit_serverconf"><%= t 'common.submit' %></button>
        </p>
      <% end %>
    <% end %>
  </section>
<% end %>
