<div class="search_tabs">
  <ul>
    <li><a href="#<%= prefix %>_simple_search_tab"><%= t 'common.simple_search' %></a></li>
    <li><a href="#<%= prefix %>_advanced_search_tab"><%= t 'common.advanced_search' %></a></li>
  </ul>

  <div id="<%= prefix %>_simple_search_tab" class="simple_search">
    <%= view_flow.content.delete(:simple_search) %>
    <button class="search"><%= t 'common.search' %></button>
  </div>

  <div id="<%= prefix %>_advanced_search_tab" class="advanced_search">
    <table class="details">
      <%= view_flow.content.delete(:advanced_search) %>
      <tr>
        <td class="align-right" colspan="2">
          <button class="search"><%= t 'common.search' %></button>
          <button class="clear"><%= t 'common.clear' %></button>
        </td>
      </tr>
    </table>
  </div>
</div>
