<% content_for :head do %>
  <%= javascript_include_tag "configuration_sources" %>
<% end %>

<div class="box">
  <div class="box-heading">
    <span class="box-title"><%= t '.anchor' %></span>
    <% if can?(:download_source_anchor) %>
    <button id="download_source_anchor" class="right"><%= t 'common.download' %></button>
    <% end %>
    <% if can?(:generate_source_anchor) %>
    <button id="generate_source_anchor" class="right"><%= t '.recreate' %></button>
    <% end %>
  </div>
  <p>
    <label><%= t 'common.hash', :alg => ConfigurationSource::ANCHOR_FILE_HASH_ALGORITHM %>:</label>
    <span class="anchor-hash"></span>
  </p>
  <p>
    <label><%= t 'common.generated' %>:</label>
    <span class="anchor-generated_at"></span>
  </p>
</div>

<div class="box">
  <div class="box-heading">
    <span class="box-title"><%= t '.download_url' %></span>
  </div>
  <p>
    <span id="conf_url" style="padding-left: 10px"></span>
  </p>
</div>

<div class="box">
  <div class="box-heading cf">
    <span class="box-title"><%= t '.signing_keys' %></span>
    <% if can?(:delete_signing_key) %>
    <button id="delete_signing_key" class="right"><%= t 'common.delete' %></button>
    <% end %>
    <% if can?(:activate_signing_key) %>
    <button id="activate_signing_key" class="right"><%= t '.activate' %></button>
    <% end %>
    <% if can?(:generate_signing_key) %>
    <button id="generate_signing_key" class="right"><%= t '.new_key' %></button>
    <% end %>
  </div>

  <table id="signing_keys">
    <thead>
      <tr>
        <th><%= t '.device_key' %></th>
        <th><%= t 'common.generated' %></th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>

<div class="box">
  <div class="box-heading cf">
    <span class="box-title"><%= t '.configuration_parts' %></span>
    <% if can?(:download_configuration_part) %>
    <button id="download_conf_part" class="right"><%= t 'common.download' %></button>
    <% end %>
    <% if can?(:upload_configuration_part) %>
    <button id="upload_conf_part" class="right"><%= t 'common.upload' %></button>
    <% end %>
  </div>

  <table id="conf_parts">
    <thead>
      <tr>
        <th><%= t '.file_name' %></th>
        <th><%= t '.content_identifier' %></th>
        <th><%= t '.updated' %></th>
      </tr>
    </thead>
  </table>
</div>

<%= render :partial => "application/console_output_dialog" %>
<%= render :partial => "application/activate_token_dialog" %>

<%= dialog "generate_signing_key_dialog", t('.new_key') do %>
  <table class="details">
    <tr>
      <td><%= t '.token' %>:</td>
      <td><%= select_tag "token_id", nil, :style => "text-transform: none;" %></td>
    </tr>
  </table>
<% end %>
