<% content_for :head do %>
  <%= javascript_include_tag "async" %>
<% end %>

<% content_for :content do %>
  <table id="providers">
    <thead>
      <tr>
        <th style="width: 20%;"><%= t '.name' %></th>
        <th style="width: 8%;"><%= t '.requests' %></th>
        <th style="width: 8%;"><%= t '.send_attempts' %></th>
        <th><%= t '.last_attempt' %></th>
        <th></th>
        <th><%= t '.next_attempt' %></th>
        <th><%= t '.last_success' %></th>
        <th><%= t '.last_success_id' %></th>
      </tr>
    </thead>
  </table>

  <span id="providers_actions" style="float: left;">
    <% if can?(:view_async_req_last_send_result) %>
    <button id="last_attempt_result"><%= t '.last_attempt_result' %></button>
    <% end %>
    <% if can?(:reset_async_req_send_count) %>
    <button id="reset"><%= t '.reset' %></button>
    <% end %>
    <button id="refresh"><%= t 'common.refresh' %></button>
  </span>

  <br/>

  <table id="requests">
    <thead>
      <tr>
        <th style="width: 6%;"><%= t '.request_queue_no' %></th>
        <th><%= t '.request_id' %></th>
        <th><%= t '.request_received' %></th>
        <th><%= t '.request_removed' %></th>
        <th><%= t '.request_sender' %></th>
        <th><%= t '.request_user' %></th>
        <th><%= t '.request_service' %></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <% if can?(:remove_restore_async_req) %>
  <span id="requests_actions" style="float: left;">
    <button id="remove"><%= t '.request_remove' %></button>
    <button id="restore"><%= t '.request_restore' %></button>
  </span>
  <% end %>

  <%= dialog "last_attempt_result_dialog", "Last attempt result" do %>
    <section class="container">
      <textarea readonly wrap="off"></textarea>
    </section>
  <% end %>
<% end %>
