<div id="server-info"
     class="xroad-purple-bg"
     data-instance="<%= instance_identifier %>"
     data-server-code="<%= server_code %>"
     data-node-name="<%= node_name %>">
  <h1></h1>
  <h2><%= t 'layouts.application.server_type' %></h2>
</div>
<div id="actions" class="xroad-purple-transparent-border">
  <div id="actions-inner">
    <% if content_for?(:heading) %>
      <%= yield :heading %>
    <% else %>
      <%= heading %>
    <% end %>
    <div class="force-middle xs-hide sm-hide md-hide">
      <img class="mh35" src="/xroad-logo.png">
    </div>
    <div id="user" class="cf">
      <div class="button-group"></div>
      <ul id="user-nav">
        <li id="user-info">
          <h2>
            <span><%= current_user.name %></span>
            <i class="fa fa-cog xroad-purple-color"></i>
          </h2>
          <ul id="user-menu">
            <li>
              <a id="locale_select" href="#">
                <i class="fa fa-flag"></i>
                <%= t 'common.language', :current => I18n.locale %>
              </a>
            </li>
            <li>
              <a href="<%= url_for(:controller => :login, :action => :logout) %>">
                <i class="fa fa-sign-out"></i>
                <%= t 'layouts.application.logout' %>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
