<% content_for :head do %>
  <%= javascript_include_tag "centerui_common" %>
  <%= javascript_include_tag "groups" %>
  <%= javascript_include_tag "group_edit" %>
<% end %>

<% content_for :content do %>
  <div class="groups_actions">
    <% if can?(:add_global_group) %>
      <button id="group_add"><%= t 'groups.add.button' %></button>
    <% end %>
    <% if can?(:view_group_details) %>
      <button id="group_details" class="group-action"><%= t 'common.details' %></button>
    <% end %>
  </div>

  <table id="global_groups" class="display">
    <thead>
      <tr>
        <th id="group_code"><%= t 'groups.code' %></th>
        <th id="group_description"><%= t 'common.description' %></th>
        <th id="group_member_count"><%= t 'groups.member_count' %></th>
        <th id="group_created"><%= t 'groups.updated' %></th>
      </tr>
    </thead>
  </table>

  <%= render :partial => "group_add_dialog" %>
  <%= render :partial => "shared/group_details_dialog" %>
<% end %>
