<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="root_path" content="<%= root_path %>"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= stylesheet_link_tag "jquery-ui.css" %>
    <%= stylesheet_link_tag (skin_installed? ? "/application/skin" : "style.css") %>
    <%= stylesheet_link_tag "application.css" %>

    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery-ui.min.js" %>
    <%= javascript_include_tag "jquery-datatables.min.js" %>
    <%= javascript_include_tag "i18n.js", "translations.js" %>
    <%= javascript_include_tag "common.js" %>
    <%= javascript_include_tag "application.js" %>
    <%= javascript_include_tag "periodic_jobs.js" %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;

      var PRIVILEGES = <%= raw(current_user.privileges.to_json) %>;

      $(document).ready(function() {
          addMessage("notice", "<%= escape_javascript(raw(flash_message(:notice))) %>");
          addMessage("error", "<%= escape_javascript(raw(flash_message(:error))) %>");
      });
    </script>

    <%= yield :head %>

    <title><%= t 'layouts.application.title' %></title>
  </head>
  <body>
    
    <div id="alerts" class="alerts"></div>

    <div id="header">
      <%= render :partial => "layouts/partials/header_actions" %>
    </div>

    <div id="main-wrapper">
      <div id="sidebar">
        <div id="sidebar-inner">
          <div id="menu">
            <%= render :partial => "layouts/partials/menu" %>
          </div>
        </div>
      </div>

      <div id="content">
        <div id="content-inner">
          <%= yield :content %>
          <div class="messages"></div>
        </div>
      </div>

      <div id="confirm"></div>
      <div id="yesno"></div>
      <div id="warning"></div>
      <div id="alert"></div>
    </div>

    <%= render :partial => "file_upload_dialog" %>
    <iframe id="upload_target" name="upload_target"></iframe>

    <%= dialog "locale_select_dialog", t('.select_locale') do %>
      <div class="container center">
        <%= select_tag "locale", options_for_select(available_locales, I18n.locale) %>
      </div>
    <% end %>
  </body>
</html>
